[submodule "dartssh2"]
	path = packages/dartssh2
	url = https://github.com/lollipopkit/dartssh2
	branch = master
[submodule "xterm"]
	path = packages/xterm
	url = https://github.com/lollipopkit/xterm.dart
	branch = master
[submodule "fl_lib"]
	path = packages/fl_lib
	url = https://github.com/lollipopkit/fl_lib
	branch = main
[submodule "fl_build"]
	path = packages/fl_build
	url = https://github.com/lppcg/fl_build.git
	branch = main
[submodule "server_box_monitor"]
	path = packages/server_box_monitor
	url = https://github.com/lollipopkit/server_box_monitor
	branch = main
[submodule "circle_chart"]
	path = packages/circle_chart
	url = https://github.com/lollipopkit/circle_chart
	branch = main
[submodule "plain_notification_token"]
	path = packages/plain_notification_token
	url = https://github.com/lollipopkit/plain_notification_token
	branch = master
[submodule "watch_connectivity"]
	path = packages/watch_connectivity
	url = https://github.com/lollipopkit/watch_connectivity
	branch = master
